@model IEnumerable<SchoolDatabase.Models.Student>

<style>
    body {
        background: #1111;
    }

    .card {
        background-color: #FFFFFF;
        padding: 1em 1em;
        margin: 1em 0;
        border-radius: .75em;
    }

    a {
        color: #111111;
        text-decoration: none;
    }

    .btn {
        background-color: #e9e9ed;
        border: 2px solid #000000;
        text-align: center;
        text-decoration: none;
        margin: 15px 0;
    }

    .btn:hover {
            background-color: #9d9da1;
     }
</style>

<h1>Students</h1>
<a class="btn" href="/StudentPage/New">Add Student</a>
<p>Search your student</p>
<form method="GET" action="/StudentPage/List">
    <div>
        <input id="searchInfo" type="text" name="SearchKey" />
        <input id="SearchBtn" type="submit" value="Search" />
    </div>


</form>

@foreach (SchoolDatabase.Models.Student Student in Model)
{
    <div class="card">
        <a href="/StudentPage/Show/@Student.studentid">@Student.studentfname @Student.studentlname &#8599;</a>
    </div>
}