
<div id="containershow">
    <nav>
        <a class="navlink" href="/TeacherPage/List">Back To Students</a>
    </nav>
    <h2>New Students</h2>
    <!-- <form method="POST" action="/TeacherPage/Create"> -->
    <form method="POST" action="/StudentPage/Create">

        <div class="inputrow">
            <label for="StudentFname">First Name:</label>
            <input type="text" id="StudentFname" name="StudentFname" />

        </div>
        <div class="inputrow">
            <label for="StudentLname">Last Name:</label>
            <input type="text" id="StudentLname" name="StudentLname" />

        </div>
        <div class="inputrow">
            <label for="StudentNumber">Student Number: </label>
            <input type="text" id="StudentNumber" name="StudentNumber" />
        </div>
        <div class="inputrow">
            <label for="EnrolDate">Enrol Date: </label>
            <input type="text" id="EnrolDate" name="EnrolDate" />
        </div>
       

        <div class="inputrow">
            <input type="submit" value="Create Student" />
        </div>
    </form>
</div>