@model IEnumerable<SchoolDatabase.Models.Course>

<style>
    body {
        background: #1111;

        }

    .card {
        background-color:#FFFFFF;
        padding: 1em 1em;
        margin:1em  0;
        border-radius:.75em;
    }

    a {
        color:#111111;
        text-decoration: none;
    }
</style>

<h1>Course</h1>
<p>Search your course</p>
<form method="GET" action="/CoursePage/List">
    <div>
        <input id="searchInfo" type="text" name="SearchKey" />
        <input id="SearchBtn" type="submit" value="Search" />
    </div>
   

</form>

@foreach (SchoolDatabase.Models.Course Course in Model)
{
    <div class="card">
        <a href="/CoursePage/Show/@Course.courseid">@Course.coursename @Course.courseid  &#8599;</a>
    </div>
}