

<div id="containershow">
    <nav>
        <a class="navlink" href="/CoursePage/List">Back To Courses</a>
    </nav>
    <h2>New Course</h2>
    <!-- <form method="POST" action="/TeacherPage/Create"> -->
    <form method="POST" action="/CoursePage/Create">

        <div class="inputrow">
            <label for="CourseCode">Course Code:</label>
            <input type="text" id="CourseCode" name="CourseCode" />

        </div>
        <div class="inputrow">
            <label for="TeacherId">Teacher Id:</label>
            <input type="text" id="TeacherId" name="TeacherId" />

        </div>

        teacherid
        <div class="inputrow">
            <label for="StartDate">Start Date:</label>
            <input type="text" id="StartDate" name="StartDate" />

        </div>
        <div class="inputrow">
            <label for="FinishDate">Finish Date: </label>
            <input type="text" id="FinishDate" name="FinishDate" />
        </div>
        <div class="inputrow">
            <label for="CourseName">Course Name: </label>
            <input type="text" id="CourseName" name="CourseName" />
        </div>
       
        <div class="inputrow">
            <input type="submit" value="Create Course" />
        </div>
    </form>
</div>