@model IEnumerable<SchoolDatabase.Models.Teacher>

<h1>List</h1>

<form method="GET" action="/TeacherPage/List">
    <div>
        <input type="text" name="SearchKey" />
        <input id="searchBtn" type="submit" value="Search" />
    </div>

    <script>
        var form = document.getElementById('searchBtn');


    </script>



</form>

@foreach (SchoolDatabase.Models.Teacher Teacher in Model)
{
    <div>
        <a href="/TeacherPage/Show/@Teacher.teacherid">@Teacher.teacherfname @Teacher.teacherlname</a>
    </div>
}