@model SchoolDatabase.Models.Teacher
<h1>@Model.teacherfname @Model.teacherlname</h1>
<p>Empoly Number: @Model.employeenumber</p>
<p>Hire Date: @Model.hiredate.ToString("yyyy-M-d")</p>
<p>Salary:@Model.salary.ToString()</p>
